h1{font-weight:normal}

.card-img-top{
  height: 250px;
  width:250px
}

div{
  width:250px
}

.card:hover img{
transform: scale(1.1,1.1);

transition-duration:300ms;

transition-timing-function: ease-out;

opacity: .7;
}
.card-img-wrapper{
overflow:hidden;
position:relative;
}
.card img{
  transform: scale(1,1);

  transition-duration:300ms;

  transition-timing-function: ease-out;
  }

  .member-icons{
position:absolute;
bottom: -30%;
left: 0;
right: 0;
margin-right: 24px;
opacity:0;

  }

  .card-img-wrapper:hover .member-icons{
    bottom:0;
    opacity:1;
  }

  .animate{
    transition: all 0.3s ease-in-out;
  }



